@import "../../App.scss";

.contact {
  width: 50%;
  height: auto;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 20px;
  animation: gradientAnimation 15s ease infinite;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 30px;
  }

  @include tablet {
    width: 100%;
    padding: 15px;
    flex-direction: column;
    gap: 40px;
  }

  @include laptop {
    flex-direction: row;
    padding: 30px;
    gap: 40px;
  }



  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 40px;
    text-align: center;

    @include laptop {
      align-items: center;
      text-align: center;
      margin-top: 0;
    }

    h1 {
      font-size: 50px;
      color: white;

      @include mobile {
        font-size: 36px;
      }

      @include tablet {
        font-size: 40px;
      }

      @include laptop {
        font-size: 46px;
      }

      @include desktop {
        font-size: 50px;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      h2 {
        margin-bottom: 10px;
        font-size: 24px;
        color: white;
      }

      span {
        font-size: 18px;
        color: white;
       
      }
      .icon-space {
        margin-right: 8px; /* Ajuste la valeur selon l'espace souhaité */
      }
    }

    .socialLinks {
      display: flex;
      gap: 15px;
      margin-top: 20px;

      a {
        color: white;
        font-size: 24px;
        transition: color 0.3s;

        &:hover {
          color: #59f1fb;
        }
      }
    }
  }

  .formContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

    @include mobile {
      width: 100%;
      padding: 20px;
    }

    @include tablet {
      width: 100%;
      padding: 20px;
    }

    @include laptop {
      width: 100%;
      padding: 30px;
    }

    @include desktop {
      padding: 40px;
    }

    form {
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    

      input, textarea {
        width: 100%;
        padding: 15px;
        background-color: white;
        border: 1px solid #ddd;
        font-size: 16px;
        color: #333;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);

        &:focus {
          outline: none;
          border-color: #59f1fb;
        }

      }

      button {
        padding: 15px;
        background-color: #9198e5;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        color: white;
        transition: background-color 0.3s, transform 0.3s;

        &:hover {
          background-color: #621b5e;
          transform: scale(1.05);
        }
      }

      .error {
        color: white;
        background-color: red;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        transform: scale(1.05);
      }

      .success {
        color: white;
        background-color: green;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        transform: scale(1.05);
      }
    }
  }
}
