
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


  body {
    background: url('../public/kayroweb.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #040a10;
    height: 100vh;
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
  }
  

a {
  text-decoration: none;
  color: inherit;
}




@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 738px) and (max-width: 1024px) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 1025px) and (max-width: 1445px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1445px) {
    @content;
  }
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
